## .NET / Visual Studio

bin/
obj/
out/
*.user
*.suo
.vs/
.vscode/

# WiX / MSI build output
*.wixpdb
*.msi
*.wixobj
*.exe

# Redistributables to be downloaded locally, not checked in - see Redist/README.md
installer/App.Bundle/Redist/*
!installer/App.Bundle/Redist/README.md

# Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db
