<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <PackageGroup Id="App">
      <MsiPackage Id="App"
                  SourceFile="$(var.Installer.TargetPath)"
                  Compressed="yes"
                  Permanent="no"
                  Vital="yes">
        <!-- Feeds the bundle-scoped SampleBundleVariable (see Bundle.wxs) into the MSI's SAMPLEPROPERTY property. -->
        <MsiProperty Name="SAMPLEPROPERTY" Value="[SampleBundleVariable]" />
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
